@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "untitled-font-1";
  src: url("fonts/untitled-font-1.eot");
  src: url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("fonts/untitled-font-1.woff") format("woff"), url("fonts/untitled-font-1.ttf") format("truetype"), url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: "a";
}

.icon-mouse-pointer:before {
  content: "b";
}

.icon-upload-cloud:before {
  content: "c";
}

.icon-download:before {
  content: "d";
}

.icon-upload:before {
  content: "e";
}

.icon-picture-streamline:before {
  content: "f";
}

.icon-paperplane:before {
  content: "g";
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(27, 101, 246);
  color: rgb(150, 163, 187);
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.app-layout {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .app-layout {
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
}
.app-container .app-header {
  padding-bottom: 30px;
  text-align: center;
}
.app-container .app-header .app-site-info {
  color: white;
}
.app-container .app-header .app-site-info h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 800;
}
.app-container .app-header .app-site-info .site-title {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 50px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 768px) {
  .app-container .app-header .app-site-info .site-title {
    display: none;
  }
}
.app-container .app-header .app-site-info .site-slogan {
  margin-top: 5px;
  padding: 0;
  font-size: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .app-container .app-header .app-site-info .site-slogan {
    display: none;
  }
}
@media (min-width: 992px) {
  .app-container .app-header {
    float: left;
    padding-top: 100px;
    text-align: left;
  }
  .app-container .app-content {
    float: right;
  }
}

.app-card {
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .app-card {
    width: 350px;
  }
}
.app-card .app-card-header {
  background-color: rgb(243, 247, 255);
}
.app-card .app-card-header .app-card-header-inner {
  padding: 20px;
}
.app-card .app-card-content .app-card-content-inner {
  padding: 25px;
}
.app-card.app-card-uploading .app-card-content .app-card-content-inner {
  padding: 40px;
}

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
}
.app-file-select-zone label {
  display: block;
  width: 100%;
}
.app-file-select-zone label input {
  position: fixed;
  top: -9999px;
}
.app-file-select-zone .app-upload-description {
  font-size: 12px;
  display: block;
}
.app-file-select-zone .app-upload-icon {
  display: inline-block;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
  border: 1px dashed rgb(150, 163, 187);
  position: relative;
}
.app-file-select-zone .app-upload-icon i {
  font-size: 28px;
  position: absolute;
  left: 10px;
  top: -10px;
  background-color: #f3f7ff;
}
.app-file-select-zone.error .app-upload-icon {
  border-color: rgb(208, 21, 46);
}

.app-form-item {
  margin: 0 0 15px 0;
}
.app-form-item label {
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  margin: 0 0 8px 0;
}
.app-form-item input[type=text], .app-form-item textarea {
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  outline: 0 none;
  padding: 8px;
  border-radius: 5px;
}
.app-form-item input[type=text]:focus, .app-form-item input[type=text] :active, .app-form-item textarea:focus, .app-form-item textarea :active {
  outline: 0 none;
}
.app-form-item textarea {
  min-height: 50px;
}
.app-form-item.error input {
  color: rgb(208, 21, 46);
}

.app-form-action .app-button {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 700;
  color: rgb(27, 101, 246);
  background-color: white;
  border: 1px solid rgb(27, 101, 246);
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.app-form-action .app-button.primary {
  background-color: rgb(27, 101, 246);
  color: white;
}

.app-files-selected {
  max-height: 150px;
  position: relative;
  overflow-y: auto;
  background-color: white;
  position: relative;
  margin: -20px -20px 20px -20px;
  padding: 20px;
}
.app-files-selected .app-files-selected-item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 10px 0;
}
.app-files-selected .app-files-selected-item .filename {
  flex-grow: 1;
}
.app-files-selected .app-file-remove {
  border: 0 none;
  padding: 3px;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.error {
  color: rgb(208, 21, 46);
}

.app-home-uploading-icon {
  text-align: center;
  display: block;
}
.app-home-uploading-icon i {
  font-size: 60px;
  display: inline-block;
  border: 1px solid rgb(150, 163, 187);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
}
.app-home-uploading-icon h2 {
  margin: 20px 0 0 0;
  font-size: 17px;
}

.app-upload-files-total {
  margin-top: 20px;
}

.app-upload-stats {
  display: flex;
  flex-direction: row;
}
.app-upload-stats .app-upload-stats-left {
  flex-grow: 1;
}
.app-progress {
  background-color: rgb(241, 248, 254);
  border: 1px solid rgb(178, 216, 248);
  height: 15px;
  line-height: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
}
.app-progress .app-progress-bar {
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  height: 15px;
  line-height: 15px;
  background-color: rgb(27, 101, 246);
}

.app-upload-cancel-button {
  margin-top: 50px;
}

.app-text-center {
  text-align: center;
}

.app-upload-sent-message {
  margin-top: 20px;
}
.app-upload-sent-message h2 {
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  margin: 20px 0;
}
.app-upload-sent-message p {
  line-height: 1.5em;
}

.app-upload-sent-action {
  margin: 20px 0;
}
.app-upload-sent-action button {
  margin: 10px 0;
}

/*# sourceMappingURL=app.css.map */
